body{
  font-family: 'Segoe UI', sans-serif;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color:rgb(60, 120, 60);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color:rgb(187, 208, 187);
  text-decoration: none;
}
.footercolor
{
  background-color:rgb(60, 120, 60);
}

.footer-row
{
  width:100%;
  color:white;
}
 

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

 

.card-deck .card {
  margin-top: 2em;
  min-width: 25%;
}



.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
 
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 4rem;
  color:rgb(60, 120, 60);
}

.blog-header-logo:hover {
  text-decoration: none;
  color:rgb(60, 120, 60);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
 

.footerlink    {  font: 1rem 'Segoe UI', sans-serif; color:white;} 
.footerlink:hover   {color:white;}
.footercontent {color:white; vertical-align: middle;}
.btncolor {
 
  background-color:rgb(60, 120, 60);
  color:white;
  border:0px solid;
}
.headertitle
{
  color:rgb(60, 120, 60); 
  font: 3rem 'Segoe UI', sans-serif;
  margin-top:2rem;
  margin-bottom:2rem;
}
